:root{
  --midnight: #23202c;
  --black: #14141b;
  --grey: #2a2b27;
  --white: #fefefe;
  --white-alpha: rgba(255,255,255,0.2);
  --red: #ee6363;
  --pink: #ff80bf;
  --yellow: #ffff80;
  --purple: #9580ff;
  --blue: #80ffea;
  --green: #8aff80;
  --orange: #ff5963;
  --red-orange: linear-gradient(135deg, var(--red),var(--orange));
  --red-yellow: linear-gradient(135deg, var(--red),var(--yellow));
  --red-green: linear-gradient(135deg, var(--red),var(--green));
  --red-blue: linear-gradient(135deg, var(--red),var(--blue));
  --red-purple: linear-gradient(135deg, var(--red),var(--purple));
  --red-pink: linear-gradient(135deg, var(--red),var(--pink));
  --orange-red: linear-gradient(135deg, var(--orange),var(--red));
   --orange-yellow: linear-gradient(135deg, var(--orange),var(--yellow));
   --orange-green: linear-gradient(135deg, var(--orange),var(--green));
   --orange-blue: linear-gradient(135deg, var(--orange),var(--blue));
   --orange-purple: linear-gradient(135deg, var(--orange),var(--purple));
   --orange-pink: linear-gradient(135deg, var(--orange),var(--pink));
   --yellow-red: linear-gradient(135deg, var(--yellow),var(--red));
  --yellow-orange: linear-gradient(135deg, var(--yellow),var(--orange));
  --yellow-green: linear-gradient(135deg, var(--yellow),var(--green));
  --yellow-blue: linear-gradient(135deg, var(--yellow),var(--blue));
  --yellow-purple: linear-gradient(135deg, var(--yellow),var(--purple));
  --yellow-pink: linear-gradient(135deg, var(--yellow),var(--pink));
  --green-red: linear-gradient(135deg, var(--green),var(--red));
  --green-orange: linear-gradient(135deg, var(--green),var(--orange));
  --green-yellow: linear-gradient(135deg, var(--green),var(--yellow));
  --green-blue: linear-gradient(135deg, var(--green),var(--blue));
  --green-purple: linear-gradient(135deg, var(--green),var(--purple));
  --green-pink: linear-gradient(135deg, var(--green),var(--pink));
  --blue-red: linear-gradient(135deg, var(--blue),var(--red));
  --blue-orange: linear-gradient(135deg, var(--blue),var(--orange));
  --blue-yellow: linear-gradient(135deg, var(--blue),var(--yellow));
  --blue-green: linear-gradient(135deg, var(--blue),var(--green));
  --blue-purple: linear-gradient(135deg, var(--blue),var(--purple));
  --blue-pink: linear-gradient(135deg, var(--blue),var(--pink));
  --purple-red: linear-gradient(135deg, var(--purple),var(--red));
  --purple-orange: linear-gradient(135deg, var(--purple),var(--orange));
  --purple-yellow: linear-gradient(135deg, var(--purple),var(--yellow));
  --purple-green: linear-gradient(135deg, var(--purple),var(--green));
  --purple-blue: linear-gradient(135deg, var(--purple),var(--blue));
  --purple-pink: linear-gradient(135deg, var(--purple),var(--pink));
  --pink-red: linear-gradient(135deg, var(--pink),var(--red));
  --pink-orange: linear-gradient(135deg, var(--pink),var(--orange));
  --pink-yellow: linear-gradient(135deg, var(--pink),var(--yellow));
  --pink-green: linear-gradient(135deg, var(--pink),var(--green));
  --pink-blue: linear-gradient(135deg, var(--pink),var(--blue));
  --pink-purple: linear-gradient(135deg, var(--pink),var(--purple)); 
  --rainbow: linear-gradient(135deg, var(--red),var(--orange), var(--yellow),var(--green),var(--blue),var(--purple),var(--pink));
  --shine: linear-gradient(135deg, var(--red),var(--purple), var(--blue));
  --relay: linear-gradient(135deg, var(--yellow), var(--orange), var(--purple));
  --atlas: linear-gradient(135deg, var(--blue), var(--pink), var(--yellow));
  --jungle: linear-gradient(135deg, var(--green),var(--yellow),var(--blue));
  --apple: linear-gradient(135deg,var(--orange),var(--pink),var(--purple));
}
